.trigger {
	cursor: pointer;
	float: right;
	margin: -19px 8px 0 0;
	position: relative;
	z-index: 1;
}

.fa-plus:before {
	color: #FFFFFF !important;
}

.fa-minus:before {
	color: #FFFFFF !important;
}
